{% extends 'product/base.html' %}
{% block title%}
Welcome!!
{% endblock %}
{% block body %}
{% block carttotal %}
<p id="cart-total">{{ cartItems }}</p>
{% endblock %}

	<a  class="btn btn-outline-primary pt-1 mt-5" href="{% url 'home' %}">&#x2190; Add more items</a>
 
	<table class="table mt-5 text-white">
		<tr>
			<th>Items: <strong>{{order.get_cart_items}}</strong></th>
			<th>Total:<strong>Rs {{order.get_cart_total|floatformat:2}}</strong></th>
			<th>
				<a  style="float:right; margin:5px;" class="btn btn-primary" href="{% url 'checkout' %}">Checkout</a>
			</th>
		</tr>
	</table>
	<table class="table  text-white">
		
		 
	
		 
	
		<tbody>
		  <tr class="pt-5 mt-5">
			  <th></th>
			<th><strong>Item</strong></th>
			<th><strong>Price</strong></th>
			<th><strong>Quantity</strong></th>
			<th><strong>Total</strong></th>
		  </tr>
		  {% for item in items %}
		  <tr>

			  <td style="flex:2"><img class="row-image" src="{{ item.product.thing_photo.url }}"></td>
			  <img src="">
			  <td style="flex:2"><p>{{item.product.thing_title}}</p></td>
			  <td style="flex:1"><p>Rs {{item.product.thing_price|floatformat:2}}</p></td>
			  
				  
				  <td >
					  <span data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart"><i class="fa fa-plus" aria-hidden="true"></i></span>
					  <p class="quantity">{{item.quantity}}</p>
					  <span data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart"><i class="fas fa-minus"></i></span>
			  
					  
				  </td>
			  
			
			  <td style="flex:1"><p>Rs {{item.get_total| floatformat:2 }}</p></td>
		 </tr>
		  {% endfor %}
			  
		</tbody>
	  </table>
	  
	 
{% endblock %}