
{% extends 'product/base.html' %}
{% block title%}
Welcome!!
{% endblock %}
{% block body %}
{% block carttotal %}
<p id="cart-total">{{ cartItems }}</p>
                
{% endblock %}
<div class="row">
    {% for thing in things %}
    <div class="col-12 col-sm-6 col-lg-4 mt-5 pt-5">
        <div class="card " style="width: 18rem;">
            <img class="card-img-top" src="{{ thing.thing_photo.url }}" alt="Card image cap" style="height:17rem;">
            <div class="card-body">
              <h5 class="card-title">{{ thing.thing_title }}</h5>
              <p class="card-text"> {{ thing.thing_description }}</p>
              <hr>
              {% if user.is_authenticated %}
              <button data-action="add" data-product = "{{ thing.id }}" class="btn btn-outline-success update-cart" id="addtocart">Add To Cart <i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
             
<br> <hr>              <h3 >Rs {{ thing.thing_price }}</h3>
              
              {% else %}
              <p><a href="{% url 'register' %}">Register</a> to order</p>
              <h3 >Rs {{ thing.thing_price }}</h3>

              {% endif %}
            </div>
          </div>
    </div>
    
    {% endfor %}
</div>
  
{% endblock %}